# Environment files
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
path/to/virtualenv/
.venv/
venv/
ENV/
env/
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Deployment
deployment/k8s/*.pyc
